.chart {
  grid-column: span 7;
}

@media screen and (max-width: 1265px) {
  .chart {
    grid-column: span 12;
  }
}

@media screen and (max-width: 1230px) {
  .chart {
    grid-column: span 7;
  }
}

@media screen and (max-width: 950px) {
  .chart {
    grid-column: span 12;
  }
}