.rates {
  grid-column: span 5;
  grid-row: span 3;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.rates__search {
  padding: 5px;
  outline: none;
}
.rates__search:focus {
  border: 2px solid #3c2946;
}

.rates-list {
  display: flex;
  flex-direction: column;
}
.rates-list__item:not(:first-child) {
  margin-top: 5px;
}
.rates-list__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.rates-list__button--active {
  background-color: rgb(216, 218, 226);
  font-weight: bold;
}
.rates-list__button:not(.rates-list__button--active):hover,
.rates-list__button:not(.rates-list__button--active):focus {
  background-color: rgb(224, 224, 224);
}

@media screen and (max-width: 1230px) {
  .rates {
    grid-row: span 4;
  }
}

@media screen and (max-width: 680px) {
  .rates {
    grid-row: 5;
    grid-column: span 6;
  }
}

@media screen and (max-width: 480px) {
  .rates {
    grid-row: 6;
    grid-column: span 12;
  }
}

@media screen and (max-width: 420px) {
  .rates {
    grid-row: 8;
  }
}
